/* src/pages/Home.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust for navbar height */
    background-color: #f4f4f4;
  }
  
  .welcome-text {
    font-size: 36px;
    text-align: center;
    color: #333;
    margin: 0;
  }
  
  @media screen and (max-width: 768px) {
    .welcome-text {
      font-size: 28px;
    }
  }
  